<section class="lesson-section">
  <h1>{{  section.settings.collection.title }}</h1>
  <pre>{{ section.settings.collection | json }}</pre>
    <ul>
    {% for collection in collections %}
      <li>{{ collection.title }}</li>
      <pre>{{ collection | json }}</pre>
      <li>hoge</li>
    {% endfor %}
  </ul>
  {% assign unko = section.settings.collection.title %}
  <h1>うんこ出力するよ{{ unko }}</h1>
  <input type="hidden" value="{{ unko }}" id="ora" />
  <input type="hidden" value="{{ collections }}" id="c" />
</section>
{% schema %}
  {
    "name": "Link-button-list",
    "settings": [
      {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured_collections.blocks.collection.collection"
      }
    ],
    "presets": [
      {
        "name": "Link-button-list"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  // var a = {{  unko }}
  console.log('hogehoge');
  var b = document.getElementById('ora');
  console.log(b.value);
  var c = document.getElementById('c');
  console.log(c.value);
  // console.log(a);
{% endjavascript %}