<section class="lesson-section">
  <h1>{{  section.settings.collection.title }}</h1>
  <pre>{{ section.settings.collection | json }}</pre>
  <pre>{{ section.settings.collection.rules | json }}</pre>
   <!-- {% for collection in section.settings.collection.rules %}
      <li>{{ collection.title }}</li>
      <pre>{{ collection | json }}</pre>
      <li>hoge</li>
  {% endfor %} -->
    <!-- <ul>
    {% for collection in collections %}
      <li>{{ collection.title }}</li>
      <pre>{{ collection | json }}</pre>
      <li>hoge</li>
    {% endfor %}
  </ul> -->

  <input id='test' type='hidden' value='{{ section.settings.collection.all_vendors | json }}' />
</section>
{% schema %}
  {
    "name": "Link-button-list",
    "settings": [
      {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured_collections.blocks.collection.collection"
      }
    ],
    "presets": [
      {
        "name": "Link-button-list"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  console.log('動いてはいるよ')
  const value = JSON.parse(document.getElementById('test').value)
  console.log(value)
  
{% endjavascript %}