<section class="lesson-section">
  <h1>{{  section.settings.collection.title }}</h1>
  <pre>{{ collection | json }}</pre>
  <pre>{{ section.settings.collection | json }}</pre>
  <h1>huga</h1>
    <ul>
    {% for collection in collections %}
      <li>{{ collection.title }}</li>
      <pre>{{ collection | json }}</pre>
      <li>hoge</li>
    {% endfor %}
  </ul>
</section>
{% schema %}
  {
    "name": "Link-button-list",
    "settings": [
      {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured_collections.blocks.collection.collection"
      }
    ],
    "presets": [
      {
        "name": "Link-button-list"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}